@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
    left: 170px;
    top: 0;
    padding: 0;
    margin: 0;
}

.container {
  height: 100.450vh;
  display:none;
}

.radio-container {
  position: absolute;
  bottom: -56vh;
  right: 15vh;
}

.volume-display {
  position: absolute;
  bottom: 9vh;
  left: 18vh;
  color: white;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.volume-display span {
  color: white;
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.radio {
  width: 43vh;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}


#disconnect {
  position: absolute;
  width: 5.5vh;
  height: 3vh;
  bottom: 7vh;
  left: 85.731px;
  top: 265px;
  border-radius: 5px;
  transition: all 0.1s linear;
}

#volumeUp {
  position: absolute;
  left: 285px;
  top: 317px;
  width: 60px;
  height: 20px;
  border-radius: 5px;
  transition: all 0.1s linear;
}

#volumeDown {
  position: absolute;
  left: 225px;
  top: 317px;
  width: 60px;
  height: 20px;
  border-radius: 5px;
  transition: all 0.1s linear;
}

#increaseradiochannel {
  position: absolute;
  width: 3.8vh;
  height: 3.8vh;
  bottom: 29.5vh;
  left: 0.8vh;
  border-radius: 5px;
  transition: all 0.1s linear;
}

#decreaseradiochannel {
  position: absolute;
  width: 3.8vh;
  height: 3.6vh;
  bottom: 18.5vh;
  left: 0.8vh;
  border-radius: 5px;
  transition: all 0.1s linear;
}

#poweredOff {
  position: absolute;
  width: 3.3vh;
  height: 3.9vh;
  bottom: 19vh;
  left: 3vh;
  border-radius: 5px;
  transition: all 0.1s linear;
}

.onoff button {
  padding: 40px 55px;
  opacity: .0;
}

.channel {
  position: absolute;
  bottom: 21vh;
  left: 15.3vh;
  background: none;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.channel span {
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
}

.p1 {
  text-align: center;
  border: none;
  font-size: 26px;
  background: none;
  outline: none;
  font-family: "Orbitron", sans-serif;
  position: absolute;
  bottom: 21.5vh;
  left: 11.2vh;
  background: none;
}

.p2 {
  text-align: right;
  border: none;
  font-size: 25px;
  height:8.9vh;
  background: none;
  outline: none;
  font-family: "Orbitron", sans-serif;
  position: absolute;
  bottom: 17.47vh;
  left: 25.2vh;
  background: none;
}

.channel input {
  text-align: center;
  border: none;
  font-size: 25px;
  background: none;
  outline: none;
  font-family: "Orbitron", sans-serif;
  width: 5vw;
}

::-webkit-inner-spin-button {
  display: none;
}